default_install_hook_types: [pre-commit, prepare-commit-msg]

repos:
  - repo: local
    hooks:
      - id: test
        name: cargo test
        entry: cargo test --locked
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
      - id: check
        name: cargo check
        entry: cargo check --locked
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
      - id: clippy
        name: cargo clippy
        entry: cargo clippy --locked
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
      - id: fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        stages: [pre-commit, manual]
        pass_filenames: false
      - id: prepare-msg
        name: prepare commit message
        entry: bash -c "exec < /dev/tty && cargo run -- --hook || true"
        language: system
        stages: [prepare-commit-msg]
        require_serial: false
