name: push-pr-lint-test

permissions:
  contents: read
  checks: write

on:
  push:
    branches:
      - main
  pull_request:

env:
  ACT: false

jobs:
  test:
    name: cargo test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          # Linux
          - ubuntu-latest
          # macOS ARM64 - Tahoe (macOS 26 beta)
          - macos-26
          # macOS ARM64 - Sequoia (macOS 15)
          - macos-15
          # macOS ARM64 - Sonoma (macOS 14)
          - macos-14
          # macOS Intel - Sonoma (macOS 15 Intel)
          - macos-15-intel
          # Windows Server
          - windows-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.os }}-cargo-
      - uses: dtolnay/rust-toolchain@stable
      - run: git config --global user.name "tests" && git config --global user.email "tests@example.org"
      - run: cargo test --all-features

  coverage:
    name: cargo tarpaulin & codecov
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@cargo-tarpaulin
      - run: git config --global user.name "tests" && git config --global user.email "tests@example.org"
      - run: cargo tarpaulin --out Xml --engine llvm
      - uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          dry_run: ${{ env.ACT }}

  lints:
    name: cargo clippy & fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/cache@v5.0.1
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: dtolnay/rust-toolchain@stable
      - run: rustup component add rustfmt clippy
      - run: cargo clippy --all-targets --all-features -- -D warnings
      - run: cargo fmt --all -- --check

  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: reviewdog/action-actionlint@v1.71.0
        with:
          reporter: github-pr-check
          fail_level: warning
