name: push-release-plz

permissions:
  pull-requests: write
  contents: write

on:
  push:
    branches:
      - main

jobs:
  release-plz:
    runs-on: ubuntu-latest
    outputs:
      releases_created: ${{ steps.release-plz.outputs.releases_created }}
      releases: ${{ steps.release-plz.outputs.releases }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Run release-plz
        id: release-plz
        uses: MarcoIeni/release-plz-action@v0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  upload-assets:
    name: Assets for ${{ matrix.release.package_name }}/${{ matrix.release.version }}
    needs: release-plz
    if: ${{ fromJson(needs.release-plz.outputs.releases_created) == true }}
    uses: ./.github/workflows/call-build-upload.yml
    secrets: inherit
    with:
      package_name: ${{ matrix.release.package_name }}
      tag_ref: refs/tags/${{ matrix.release.tag }}
    strategy:
      fail-fast: false
      matrix:
        release: ${{ fromJson(needs.release-plz.outputs.releases) }}
